<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta><link rel="stylesheet" type="text/css" href="__STYLE__"></link></head><body>
<p>Объект требует получения, так как он содержится в данных полученных объектов, но отсутствует в данной информационной базе<br>
Оцените важность этого объекта и количество блокируемых им объектов на <a href="ПерейтиНаСтраницуОсновное">странице "Основное"</a></p>
<p>Варианты возможных действий</p>
<div>1. Отправка объекта из информационной базы-корреспондента</div>
<ul><li>Выгрузите данный объект из информационной базы-корреспондента.</li></ul><div>2. Ручной ввод данных</div>
<div>
<ul><li><a href="ОткрытьОбъектВИсточнике">Откройте отправленный объект</a> в базе источнике. Ознакомьтесь с его данными.</li>
<li>В этой базе <a href="УстановитьСоответствие">найдите соответствующий объект</a>, вручную перенесите в него необходимые изменения из базы-источника, и сохраните.</li>
<li>Если таким образом получилось вручную перенести данные <a href="ОтклонитьЗагрузку">отметьте проблему решенной</a></li></ul></div>
<div>
<p>3. Загрузка блокируемых объектов без данного объекта</p>
<ul><li>Если данный объект не важен, загрузите блокируемые объекты без него. </li>
<li>Для этого перейдите в каждый из заблокированных объектов и выполните его загрузку, воспользовавшись указанными там рекомендациями.</li></ul><div><br></div></div>
<p><br></p>
<ul><div>
<div>
<div>
<ul></ul></div></div></div></ul></body></html>