<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta><link rel="stylesheet" type="text/css" href="__STYLE__"></link></head><body>
<p>Полученный объект был загружен, но была зафиксирована ошибка при проведении обновленного объекта в данной базе</p>
<p>Проанализируйте <a href="ПерейтиНаСтраницуТекстОшибки">текст ошибки</a>.</p>
<p>Варианты преодоления проблемы:</p>
<p>1. Исправление</p>
<div>
<ul><li>В этой базе <a href="ОткрытьОбъектИБ">откройте обновленный объект</a> , вручную исправьте проблемы мешающие проведению и проведите его.</li>
<li><a href="ОтклонитьЗагрузку">Отметьте проблему решенной</a>.</li></ul><p>2. Закрытие проблемы</p>
<ul><li>Если проблема не требует дальнейшего внимания <a href="ОтклонитьЗагрузку">отметьте ее решенной</a>.</li></ul></div></body></html>