<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta><link rel="stylesheet" type="text/css" href="__STYLE__"></link></head><body>
<p>В соответствии с настройками полученные данные требуют установки соответствия вручную.<br>
Вы можете <a href="ИзменитьНастройки">изменить настройки</a> действий при загрузке объектов, отказавшись от необходимости установки соответствия..</p>
<li>Проанализируйте изменения, которые будут выполнены после загрузки при помощи отчетов <a href="ПерейтиНаСтраницуСравнениеДанных">сравнение с объектом ИБ</a> и <a href="ОткрытьФормуПолученныхДанных">полученные данные</a>.</li>
<li>При необходимости <a href="ОткрытьОбъектВИсточнике">откройте отправленный объект</a> в базе источнике.</li>
<p>Варианты возможных действий</p>

<div>1. Установка соответствия и загрузка</div>
<ul><li>При необходимости установите соответствие между загружаемым объектом и объектом этой базы, для этого <a href="УстановитьСоответствие">найдите соответствующий объект</a>. Если соответствие не установлено, при загрузке будет создан новый объект.</li>
<li><a href="ПодтвердитьЗагрузку">Подтвердите загрузку</a>, или выполните команду <a href="ПодтвердитьЗагрузкуИОткрыть">подтвердить и открыть загруженный объект</a>, если хотите проверить результаты загрузки.</li>
</ul><div>
<p>2. Ручной перенос данных</p>
Если загружаемые данные частично некорректны, необходимые изменения можно перенести вручную.
<p> 
</p>
<ul><li>В этой базе, если определен соответствующий объект, <a href="ОткрытьОбъектИБ">откройте его</a>, иначе <a href="УстановитьСоответствие">найдите соответствующий объект</a>. </li>
<li>Вручную перенесите в объект этой базы необходимые изменения из базы-источника, и сохраните.</li>
<li>Если таким образом получилось вручную перенести данные <a href="ОтклонитьЗагрузку">откажитесь от загрузки.</a></li></ul><p>3. Отказ от загрузки:</p>
<ul><li>Убедитесь, что ожидание загрузки этого объекта не <a href="БлокируемыеОбъекты">блокирует загрузку.</a> других объектов</li>
<li>Если в этой базе можно обойтись без загрузки данного объекта, <a href="ОтклонитьЗагрузку">откажитесь от загрузки</a></li></ul><div>4. Установка соответствия и  откладывание решения проблемы:</div>
<ul><li>Убедитесь, что ожидание загрузки этого объекта не <a href="БлокируемыеОбъекты">блокирует загрузку других объектов.</a> установите соответствие загружаемого объекта и объекта в этой базе, для этого <a href="УстановитьСоответствие">найдите соответствующий объект</a>. Загрузка других объектов разблокируется.</li>
<li>Отложите решение проблемы. При необходимости <a href="НаписатьКомментарий">напишите комментарий</a></li></ul><ul><div>
<ul></ul></div></ul></div></body></html>