<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta><link rel="stylesheet" type="text/css" href="__STYLE__"></link></head><body>
<p>Полученный объект не был загружен, так как при попытке обновления и записи соответствующего объекта в данной базе возникают ошибки проверки.</p>
<p>Варианты преодоления проблемы:</p>
<p>1. Самостоятельное исправление полученных данных:</p>
<ul><li>Можно попытаться определить причину проблемы, проанализировав <a href="ПерейтиНаСтраницуТекстОшибки">текст ошибки</a> и <a href="ОткрытьФормуПолученныхДанных">полученные данные</a>.</li>
<li>Если причина проблема в полученных данных, можно попытаться <a href="ОткрытьФормуПолученныхДанных">отредактировать полученные данные</a>, после чего  <a href="КонвертироватьЗаново">заново загрузить их</a>.</li></ul><div>2. Ручной перенос данных</div>
<ul><li><a href="ОткрытьОбъектВИсточнике">Откройте отправленный объект</a> в базе источнике. Ознакомьтесь с его данными.</li>
<li>В этой базе <a href="ОткрытьОбъектИБ">откройте соответствующий объект</a>.</li>
<li>Вручную перенесите в объект этой базы необходимые изменения из базы-источника, и сохраните.</li>
<li>Если таким образом получилось вручную перенести данные <a href="ОтклонитьЗагрузку">откажитесь от загрузки.</a></li></ul><p>3. Отказ от загрузки:</p>
<ul><li>Если в этой базе можно обойтись без загрузки данного объекта, <a href="ОтклонитьЗагрузку">откажитесь от загрузки</a>.</li></ul></body></html>