<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta><link rel="stylesheet" type="text/css" href="__STYLE__"></link></head><body>
<p>Полученные данные не соответствуют формату и не могут быть обработаны</p>
<p>Варианты преодоления проблемы:</p>
<p>1. Самостоятельное исправление полученных данных:</p>
<ul><li>Попробовать определить причину можно, проанализировав <a href="ПерейтиНаСтраницуТекстОшибки">текст ошибки</a> и <a href="ОткрытьФормуПолученныхДанных">полученные данные</a>.</li>
<li>Поняв причину проблемы, можно попытаться <a href="ОткрытьФормуПолученныхДанных">отредактировать полученные данные</a>, после чего  <a href="КонвертироватьЗаново">заново загрузить их</a>.</li></ul><div>2. Ручной перенос данных</div>
<ul><li><a href="ОткрытьОбъектВИсточнике">Откройте отправленный объект</a> в базе источнике. Ознакомьтесь с его данными.</li>
<li>В этой базе, если определен соответствующий объект, <a href="ОткрытьОбъектИБ">откройте его</a>, иначе <a href="УстановитьСоответствие">найдите соответствующий объект</a> или <a href="СоздатьНовый">создайте новый объект</a>, </li>
<li>Вручную перенесите в объект этой базы необходимые изменения из базы-источника, и сохраните.</li>
<li>Если таким образом получилось вручную перенести данные <a href="ОтклонитьЗагрузку">откажитесь от загрузки.</a></li></ul><p>3. Отказ от загрузки:</p>
<ul><li>Убедитесь, что ожидание загрузки этого объекта не <a href="БлокируемыеОбъекты">блокирует загрузку.</a> других объектов</li>
<li>Если в этой базе можно обойтись без загрузки данного объекта, <a href="ОтклонитьЗагрузку">откажитесь от загрузки</a></li></ul><div>3. Установка соответствия и  откладывание решения проблемы:</div>
<ul><li>Убедитесь, что ожидание загрузки этого объекта не <a href="БлокируемыеОбъекты">блокирует загрузку других объектов.</a> установите соответствие загружаемого объекта и объекта в этой базе, для этого <a href="УстановитьСоответствие">найдите соответствующий объект</a> или <a href="СоздатьНовый">создайте новый объект</a> Загрузка других объектов разблокируется.</li>
<li>Отложите решение проблемы. При необходимости <a href="НаписатьКомментарий">напишите комментарий</a></li></ul><ul><div>
<div>
<div>
<ul></ul></div></div></div></ul></body></html>