<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta><link rel="stylesheet" type="text/css" href="__STYLE__"></link></head><body>
<p>Полученный объект не загружен, так как в текущей информационной базе отсутствуют объекты, которые в нем содержатся</p>
<p>Варианты возможных действий</p>
<div>1. Ожидание</div>
<ul><li>Пропустите эту проблему, решайте другие.</li>
<li>Когда будут решены проблемы с объектами, необходимыми для загрузки этого объекта, данный объект будет загружен автоматически.</li>
</ul><p>2. Приоритетное решение проблем</p>
<ul><li>Если необходимо быстрее загрузить данный объект, можно решить только те проблемы, которые препятствуют его загрузке.</li>
<li>Ознакомьтесь с объектами, которые <a href="БлокируемыеОбъекты">блокирует загрузку.</a> этого объекта.</li>
<li>Решите проблемы этих объектов. Если загрузить их, то данный объект будет загружен автоматически. </li>
<li>Если необходимо быстрее загрузить данный объект, можно решить только те проблемы, которые препятствуют его загрузке</li></ul><p>3. Загрузка без недостающих объектов</p>
<ul><li>Если недостающие объекты загрузить не удается, а данный объект нужен как можно быстрее, выполните команду  <a href="ЗагрузитьОбъектИЗакрыть">загрузить без недостающих и открыть объект</a>, и заполните недостающие данные вручную.</li>
<li>Если недостающие данные не важны, то выполните команду <a href="ЗагрузитьОбъектИОткрыть">загрузить объект</a>.</li>
</ul><p>4. Отказ от загрузки:</p>
<ul><li>Убедитесь, что ожидание загрузки этого объекта не <a href="БлокируемыеОбъекты">блокирует загрузку.</a> других объектов</li>
<li>Если в этой базе можно обойтись без загрузки данного объекта, <a href="ОтклонитьЗагрузку">откажитесь от загрузки</a></li></ul><div>5. Установка соответствия и  откладывание решения проблемы:</div>
<ul><li>Если ожидание загрузки этого объекта <a href="БлокируемыеОбъекты">блокирует загрузку других объектов.</a> установите соответствие загружаемого объекта и объекта в этой базе, для этого <a href="УстановитьСоответствие">найдите соответствующий объект</a>. Загрузка других объектов разблокируется.</li>
<li>Отложите решение проблемы. При необходимости <a href="НаписатьКомментарий">напишите комментарий</a></li></ul></body></html>